user {{ user }};
worker_processes {{ worker_processes }};
pid {{ pid }};

events {
    worker_connections {{ worker_connections }};
    multi_accept on;
}

http {
    include /etc/nginx/mime.types;
    default_type  application/octet-stream;

    sendfile on;
    tcp_nopush on;

    keepalive_timeout 65;
    tcp_nodelay on;

    types_hash_max_size 2048;

    include nginx-conf/gzip.conf;

    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;
}
