---
  - include: nginx_os_ubuntu.yml tags=nginx
    when: ansible_distribution == 'Ubuntu'

  - include: nginx_os_debian7.yml tags=nginx
    when: ansible_distribution == "Debian" and ansible_distribution_version|int == 7
