# {{ ansible_managed }}
## Overrides of distribution-provided fail2ban jail.conf
#
[DEFAULT]

{% if fail2ban.conf.vars.ignoreip is defined and fail2ban.conf.vars.ignoreip %}
ignoreip  = {{ fail2ban.conf.vars.ignoreip }}
{% endif %}

{% if fail2ban.conf.vars.bantime is defined and fail2ban.conf.vars.bantime %}
bantime   = {{ fail2ban.conf.vars.bantime }}
{% endif %}

{% if fail2ban.conf.vars.destemail is defined and fail2ban.conf.vars.destemail %}
destemail = {{ fail2ban.conf.vars.destemail }}
{% endif %}

{% if fail2ban.conf.vars.backend is defined and fail2ban.conf.vars.backend %}
backend   = {{ fail2ban.conf.vars.backend }}
{% endif %}

{% if fail2ban.conf.vars.banaction is defined and fail2ban.conf.vars.banaction %}
# Default banning action
banaction = {{ fail2ban.conf.vars.banaction }}
{% endif %}

{% if fail2ban.conf.vars.action is defined and fail2ban.conf.vars.action %}
# Default action (e.g. action_ for ban only, action_mw for ban + email, action_mwl for ban + email w relevant log entries)
action = {{ fail2ban.conf.vars.action }}
{% endif %}

[ssh]

enabled  = true
port     = ssh
filter   = sshd
logpath  = /var/log/auth.log
maxretry = 6

[ssh-ddos]

enabled  = true
port     = ssh
filter   = sshd-ddos
logpath  = /var/log/auth.log
maxretry = 6
